*{
    box-sizing: border-box;
}

/* different background images based on category */
body, html{
    height:100%;
    margin:0;
    font-family: 'Poppins', sans-serif;
}

#history{
    background-image: url(../images/declaration.jpg);
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#food{
    background-image: url(../images/food.jpg);
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#beach{
    background-image: url(../images/beach.jpg);
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header Style */
header{
    font-family: 'Righteous', cursive;
    background-color:#42e2f4;
    text-align: center;
    color: #fff;
    font-size: 60pt;
    padding:20px;
}

header .return-button{
    position:absolute;
    right:5px;
    top:5px;
    font-size: 12pt;
    text-decoration: none;
    background-color: #f00;
    color:#fff;
    padding: 15px;
    font-weight: 500;
    border-radius: 5px;
}

header .return-button:hover{
    text-decoration: underline;
}

section{
    background-color: #fff;
    width: 80%;
    height: 575px;
    margin:10px auto;
    border: 2px solid #ccc;
    text-align:center;
    opacity: 0.9;
    padding: 20px;
}

section img{
    height:300px;
    width:450px;
    opacity: 1.0;
}

#play-area{
    padding:15px;
    font-size: 24pt;
}

.your-word, .wrong-letters{
    text-decoration: underline;
}

#user-progress{
    color:#3b53db;
    padding:5px;
}

#incorrect-guesses{
    color:#ff3239;
    padding:5px;
}

#outcome-text{
    font-size:20pt;
    position: fixed;
    left:35%;
    top: 135px;
}

button{
    background-color: #f00;
    color:#fff;
    height:40px;
    border-radius: 5px;
    font-size:14pt;
}

button:hover{
    text-decoration: underline;
    cursor: pointer;
}